:root {
	--navbar-bg: var(--p-primary-color);
	--text-color-dark: black;
	--text-color-light: white;

	--text-color: var(--p-primary-50);
	--navbar-bg: rgb(from var(--p-surface-800) r g b / 80%);
	--navbar-border-color: rgb(from var(--p-primary-color) r g b / 40%);
	--p-primary-color: var(--p-primary-400) !important;
	--contrast-color: var(--p-sky-400);
	--background-color: #16111a;

	--card-bg-glass: rgb(from var(--p-surface-500) r g b / 20%);
	--movie-card-head-bg: rgb(from var(--p-surface-900) r g b / 80%);
	--movie-card-footer-bg: rgb(from var(--p-surface-900) r g b / 80%);
	--card-border-color: rgb(from var(--p-primary-300) r g b / 80%);
	--card-border-color-light: rgb(from var(--p-primary-300) r g b / 50%);
	
	--surface-1: rgb(from var(--p-surface-900) r g b / 80%);
	--surface-purple: rgb(from var(--p-purple-300) r g b / 10%);
	--table-head-bg-glass : rgb(from var(--p-surface-800) r g b / 80%);
	--table-content-bg-glass : rgb(from var(--p-surface-700) r g b / 20%);
}

body {
  min-height: 100vh;
  color: var(--text-color);
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	
  background-color: var(--background-color);
}
